/* Navigation bar */
#navbar {
    flex-direction: column;
}

#navbar ul {
    padding-bottom: 10px;
}

#navbar ul li a {
    font-size: 1rem;
    padding: 0px 5px;
    padding-bottom: 8px;
    text-align: center;
}

/* 1st section:home */
#home {
    overflow: hidden;
    height: 325px;
    padding: 2px 50px;
}

#home::before {
    height: 324px;
}

.head h1 {
    font-size: 1.5rem;
}

#home p {}

/* 2nd section:service */
#service {
    overflow: hidden;
    margin-top: 15px;
}

.services {
    flex-direction: column;
    margin-top: 10px;
}

.h-primary {
    font-size: 1.52rem;
}

/* 3rd section:client */

.clients {
    flex-wrap: wrap;
}
.clients-item {
    padding: 15px;
  }
.clients img {
    width: 60px;
    padding: 2px 2px;
    /* height: auto; */
}

/* 4th section:contact */
#contact-box form {
    width: 80%;
}